@model IEnumerable<int>

@foreach (var item in Model)
{
     <a class="btn btn-block my-1 py-1 @(item.ToString() == ViewBag.SelectedItem ? "btn-primary" : "btn-outline-primary")"
       asp-action="index"
       asp-controller="Home"
       asp-route-id="@item">
        @item
     </a>
}